html {
  background-image: url(../../static/assets/Rectangle_tiny.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  color: #fff;
  font: 16px "Montserrat Alternates", sans-serif;
  font-weight: bold;
  cursor: default;
}

.global-transition {
  transition: all 500ms ease-in 0ms;
}

.global-transition-delayed {
  transition: all 400ms ease 0ms;
}
