#brand-name {
  font-weight: bold;
  font-size: 2rem;
}

.column .card .title {
  color: #8a4d76;
}
@media screen and (max-width: 1023px) {
  #brand-name {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: table;
    text-align: center;
  }

  #navbarMenuHeroA.is-active {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  #navbarMenuHeroA a {
    color: #8a4d76;
  }

  #navbarMenuHeroA a:hover,
  #navbarMenuHeroA a.is-active {
    color: #fff;
  }
}

@media screen and (max-width: 400px) {
  #brand-name {
    font-size: 1.5rem;
  }
}
